body, button {
  font-family: arial,sans-serif;
}

body {
  margin:0;
  padding:0;
}

#container {

}

/*********************************NAV********************************/
#nav {
  float: right;
  font-size: 0.8em;
}

#nav li {
  display: inline;
  padding-right: 15px;
}

li button {
  background-color: #4486F7;
  color: white;
  border: none;
  border-radius: 2px;
  font-size: 13px;
  font-weight: bold;
  padding: 5px 10px;
}

/*********************************END NAV********************************/

/*********************************MAIN********************************/
#main {
  clear: both;
}

#logo {
  text-align: center;
  padding-top: 100px;
}

#logo img {
  max-width: 272px;
  max-height: 92px;
}

#search_box {
  text-align: center;
}

#search_box input {
  padding: 9px;
  min-width: 450px;
  min-height: 27px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  border: none;
}

#buttons {
  text-align: center;
}

#buttons input {
  height: 36px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  color: #757575;
  font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
}
/*********************************END MAIN********************************/

/*********************************FOOTER********************************/
#footer {
  font-size: small;
  background-color: #F2F2F2;
  position: absolute;
  bottom: 0;
  width: 100%;

}

#footer li {
  display: inline;
  padding: 10px;
  color: #8E8E8E;
}
